:root{
    --white: #ffffff;
      --black: #000000;
      --fondo: #F7F7F7;
      --sm: 14px;
      --md: 16px;
      --lg: 37px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
   --tw-bg-opacity: 1;
    background-color: rgb(13 36 56/var(--tw-bg-opacity));
    color: var(--white);
}


/*-------------------Header--------------------*/

header{
    --tw-bg-opacity: 1;
    background-color: rgb(13 36 56/var(--tw-bg-opacity));
    padding: 0.5rem 4rem;
}
header .menu .logo{
    width: 2.5rem;
}
.menu-icon {
    display: none;
}

header nav ul{
    display: flex;
    
}

header ul li {
    padding: 0 20px;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: rgb(204, 203, 203);
    
}

header ul li a:hover{
    color: var(--white);
    text-decoration: underline;
    
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Imagen principal con titulo*/

.hero {
    background: url(imagenes/galeria/foto6.jpg);
    height: 100vh;
    background-size: cover;
}

.titular{
    text-align: left;
    padding-top: 20rem;
    color: #fff;

}

h1 {
    font-size: 80px;
    font-style: italic;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

/*--------------Tarjetas-----------------*/

.contenedor-tarjetas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tarjeta {
    text-align: center;
    box-shadow: -1px 0px 5px #0000001f;
    width: 23rem;
    margin-top: -9rem;
    background-color: #1e3851;
  
    border-radius: 1rem;
}
.tarjeta img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    height: 15rem;
}


.tarjeta p{
    font-size: var(--md);
    padding: 2rem;
    color: var(--white);
}

.tarjeta h3{
    color: var(--white);

}


/*I----------Tabla con clases------------------*/

.contenedor{
    padding: 2.5rem;
    margin: auto;
}

.h2-clases{
    color: var(--white);
}
table{
    width: 100%;
    text-align: center;
}

#classes {
    background-color: #1e3851;
    margin: 3rem;
    border-radius: 1rem;
    color: var(--white);
}

th {
    padding: 20px 0;
    font-style: italic;
}

.bg-masoscuro{
    background-color:  rgb(13 36 56 / 43%);
}
.negrita{
    font-weight: bold;
}

.horario{
    font-style: italic;
}

h2{
    text-align: center;
    font-style: italic;
    font-size: 50px;
}

/*----------------Galeria-------------------- */
#galeria {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

#galeria img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

#galeria .foto {
    width: 25%;
    position: relative;
    overflow: hidden;
}
.oculto{
    position: absolute;
    top: 0;
    left: 0;
    background: #00000070;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
   
}
.oculto h4{
    position: relative;
    top: 30%;
}

.agrandar{
    transform: scale(1.2);
    transition: 0.4s;
}

#contact{
    /* background: rgb(134, 132, 132); */
    text-align: center;
    color: #fff;
    padding: 40px 0;
}



#contact h2{
    margin: 0;
    padding-top: 0;
    padding-bottom: 10px;
}

#classes-mobile{
    display: none;
}


@media (max-width:1215px) {
    .margen-abajo-tablet{
        margin-bottom: 10rem;
    }
    .tarjeta{
        height: max-content;
    }
}

@media (max-width:1024px) {
    .tarjeta{
        width: 22rem;
    }
    .margen-abajo-tablet{
        margin-bottom: 10rem;
    }
}

@media (max-width:768px){

    .contenedor{
        padding: 0 1.5rem ;
      
    }
    .menu{
        padding-top: 10px;
    }
    .titular{
        padding-top: 16rem;
    }

    header{
        padding: 0.5rem 1rem;
    }

    header ul{
        flex-direction: column;
        margin-top: 30px;
    }

    nav{
        background:  #1e3851b4;
        width: 93%;
        position: absolute;
        top: 65px;
        left: 13px;
        display: none;
    }

    nav ul li {
        margin-bottom: 20px;
    }

    nav ul li a{
        cursor: pointer;
    }

    h1{
       font-size: var(--lg);
    }

    h2{ 
        font-size: var(--lg);
        margin-top: 4rem;
    }

    .contenedor-tarjetas, #galeria{
        flex-direction: column;
    }

    .tarjeta{
        width: 100%;  
    }

    .tarjeta.margen-abajo-mobile{
        margin-bottom: 10.5rem;
    }

    table{
        display: none;
    }

    #classes{
        display: none;
    }

    #classes-mobile{
        display: block;
        text-align: center;
    }

    #classes-mobile .negrita{
        background-color: #1e3851;
        padding: 5px;
    }

    #galeria .foto{
        width: 100%;
    }

    .menu-icon {
        display: block;
        width: 50px;
    }
    

} 

